<?php
/**
 * $URL: https://tarax.toyouke.com/svn/MALL/frontend/config/main-local.php.example $
 * $Id: main-local.php.example 2190 2016-03-03 07:32:34Z mori $
 */

$config = [
    'components' => [
        'db' => [
            'password' => 'icntHT9F'
        ]
        'request' => [
            'cookieValidationKey' => 'EgMVLKHso9pDHBbeMkpDPZeA3qvJH2WF',
        ],
    ],
    'modules' => [
        'profile' => [
            'components' => [
                'ysdConnection' => [
                    'url'      => 'http://218.40.13.161/webgw_ml/WRP01010Action_doBatInit.action',//テスト環境@ysd
                    'password' => '12345678',
                ],
            ],
        ],
    ],
];

return $config;
